<body>
    <div class="page">
        <form method="POST" class="formLogin">
            <h1>Esqueci Minha Senha </h1>
            <label for="password">Senha</label>
            <input type="password" placeholder="digite uma nova senha " autofocus="true" >
            <label for="password"> Confirme Sua Senha</label>
            <input type="password" placeholder="confirme sua senha " >
            
            <input routerLink="/login" type="submit" value="Cadastrar Nova Senha" class="btn">
        </form>
    
    </div>
</body>

