
<body>
    <ul>
        <li><a routerLink="/home" routerLinkActive="selected">Home</a></li>
        <li><a routerLink="/master" routerLinkActive="selected">Master</a></li>
        <li><a routerLink="/reports" routerLinkActive="selected">Reports</a></li>
        <li><a routerLink="/signup" routerLinkActive="selected">Signup</a></li>
        <li><a routerLink="/login" routerLinkActive="selected">login</a></li>
    </ul>
</body>

<br>
<div>
    <h1>Ultimas noticias</h1>
    <h2 style="color: red;">Saída de Faustão da Band é certa; SBT e Record negociam com o apresentador</h2>
    <p>Fausto Silva está de saída da Band após 1 ano e meio. A decisão foi tomada nas últimas semanas após reuniões do apresentador com a direção da emissora. A Band e o comunicador entraram em um comum acordo sobre a saída antecipada, já que o contrato dele iria até 2026.<p>
            <p>Segundo fontes desta coluna, a baixa audiência do Faustão na Band — que no dia 15 de maio marcou o recorde negativo de 2 pontos de audiência — e o prejuízo milionário da atração em 2022 (podendo chegar a R$ 60 milhões) motivaram as reuniões entre apresentador e emissora, e a decisão pelo fim da parceria</p>
        <br>
        
        <input routerLink="/home" type="submit" value="<-- pagina anterior" class="btn">
        <br>

        <a style="display: inline-block;
        margin-bottom: 20px;
        font-size: 13px;
        color: #555;
        transition: all linear 160ms;
        color: #f72585;
        " href="https://www.uol.com.br/splash/colunas/lucas-pasin/2023/05/18/saida-de-faustao-da-band-e-certa-sbt-e-record-negociam-com-o-apresentador.htm">para mais informaçoes clique aqui aqui</a>
    </div>    