
<body>
    <ul>
        <li><a routerLink="/home" routerLinkActive="selected">Home</a></li>
        <li><a routerLink="/master" routerLinkActive="selected">Master</a></li>
        <li><a routerLink="/reports" routerLinkActive="selected">Reports</a></li>
        <li><a routerLink="/signup" routerLinkActive="selected">Signup</a></li>
        <li><a routerLink="/login" routerLinkActive="selected">login</a></li>
    </ul>
</body>

<br>
<div>
    <h1>Ultimas noticias</h1>
    <h2 style="color: red;">Brasil registrou 202,9 mil casos de violência sexual contra crianças e adolescentes de 2015 a 2021, diz boletim!</h2>
    <h3>"Dados foram compilados pelo Ministério da Saúde e divulgados nesta quinta (18), Dia Nacional de Combate ao Abuso e à Exploração Sexual de Crianças e Adolescentes. Em cerimônia no Palácio do Planalto, governo anunciou ações contra esse tipo de violência."</h3>
    <p>Um boletim epidemiológico divulgado pelo Ministério da Saúde nesta quinta-feira (18) aponta que 202.948 casos de violência sexual contra crianças e adolescentes foram notificados em sete anos, de 2015 a 2021, no Brasil. São quase 80 casos por dia no período.

        <p>
            Segundo o documento, divulgado no Dia Nacional de Combate ao Abuso e à Exploração Sexual de Crianças e Adolescentes, 83.571 (41,2%) dos casos de violência foram contra crianças (0 a 9 anos) e 119.377 (58,8%) praticados contra adolescentes (10 a 19 anos).
            
        </p>
        <p>Conforme o boletim, no ano de 2021, o número de notificações foi o maior registrado ao longo do período analisado. Segundo dados preliminares, foram pelo menos 35.196 casos no ano retrasado.</p>

        <img src="https://s2-g1.glbimg.com/AYxUhUKda5u_y6TjuStRLTHOMzM=/0x0:1274x879/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/u/k/lGKglsRwKi8XIAq6L8Eg/whatsapp-image-2023-05-18-at-13.21.22.jpeg" alt="">
        <br>
        
        <input routerLink="/home/pagina2" type="submit" value="proxima pagina -->" class="btn">
        <br>
        
        
        <a style="display: inline-block;
        margin-bottom: 20px;
        font-size: 13px;
        color: #555;
        transition: all linear 160ms;
        color: #f72585;
        " href="https://g1.globo.com/politica/noticia/2023/05/18/brasil-registrou-2029-mil-casos-de-violencia-sexual-contra-criancas-e-adolescentes-de-2015-a-2021-diz-boletim.ghtml">para mais informaçoes clique aqui aqui</a>

       
</div>    