#logo {
  width: 80px;;
}

body{
    font-family: 'inter' sans-serif;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
}

header {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 8px;
}

li a {
  display: block;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

#logo {
  width: 100px;
}

  div{
    text-align: center;
    border: 500px;
    height: auto;
    padding: auto;
    width: 600px;
    margin: auto;

  }
  img{
    width: 550px;
    height: auto;
  }

  .btn{
    background-color: #f72585;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
    outline: none;
    text-decoration: none;
    padding: 16px;
    border-radius: 8px;
}

.btn:hover{
    transform: scale(1.05);
    background-color: #ff0676;

}
input{
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;
}

.final{
  margin-bottom: 32px;
}
