
<header>
  <ul>
      <li><img id="logo" src="../../../assets/atitus-logo.png"/></li>
      <li><a routerLink="/home" routerLinkActive="selected">Home</a></li>
      <li><a routerLink="/metodos" routerLinkActive="selected">Métodos de Segurança</a></li>
  </ul>
</header>

<br>
<div>
    <h1>Métodos de segurança na web</h1>
    <h2 style="color: red;">Com o crescente uso da internet em nosso cotidiano, é fundamental garantir a segurança online. </h2>
    <h3>"Nos últimos anos, o Brasil tem sido palco de diversos incidentes de roubo de dados que têm gerado preocupação generalizada. Esses ataques cibernéticos têm comprometido informações pessoais e sensíveis de milhões de pessoas, causando impactos significativos em termos de privacidade, segurança financeira e confiança digital."</h3>
    <p>Um dos casos mais marcantes ocorreu em 2021, quando ocorreu uma das maiores violações de dados na história do país. Milhões de brasileiros tiveram seus dados pessoais expostos, incluindo nomes, CPFs, endereços, informações financeiras e outros detalhes sensíveis. Essas informações, quando nas mãos erradas, podem ser usadas para atividades fraudulentas, como roubo de identidade, fraude financeira e phishing direcionado.</p>

      <p class="final">
        Outros incidentes também trouxeram à tona a vulnerabilidade dos sistemas e infraestruturas digitais no Brasil. Empresas de diferentes setores, incluindo instituições financeiras, varejistas e empresas de tecnologia, enfrentaram violações de segurança que resultaram no vazamento de dados de seus clientes. Além disso, órgãos governamentais também foram alvo, expondo informações confidenciais de cidadãos brasileiros.
      </p>

      <a class="btn" routerLink="/metodos">Ver métodos de segurança</a>
</div>
